<template>
    <div class="main-container d-flex align-items-center ">
        <nav class="navbar position-absolute d-flex justify-content-between align-items-center" style="top: 0; left: 0; right: 0;">
            <div class="navbar-brand position-relative w-50" href="#" style="max-width: 12rem;">
                <img src="../assets/title.png" class="w-100">
            </div>
            <div class="position-relative d-flex text-white w-50 subgroups" style="justify-content: space-evenly">
                <h5 class="main-title nav-title">Story</h5>
                <h5 class="main-title nav-title ml-2">Actors</h5>
                <h5 class="main-title nav-title ml-2">Tickets</h5>
                <h5 class="main-title nav-title ml-2">Contact</h5>
            </div>
        </nav>
        <div class="container position-relative">
            <!-- <h6 class=" text-center main-title" style="color: #e4e4e4">The Journey Ends Here</h6> -->
            <h1 class="main-title position-relative display-2 text-center largest-title" style="z-index: 10; color: #f6ca01;">The Return of The King</h1>
            <h5 class="text-white text-center main-title mt-3 subtitle-text">There can be No triumph without loss.</h5>
        </div>
        <div class="position-absolute" style="bottom: 1rem; left: 0; right: 0;">
            <div class="d-flex justify-content-center">
                <div class="social-icon d-flex justify-content-center align-items-center position-relative">
                    <i class="fa fa-twitter text-white"></i>
                </div>
                <div class="social-icon d-flex justify-content-center align-items-center position-relative ml-4">
                    <i class="fa fa-wechat text-white"></i>
                </div>
                <div class="social-icon d-flex justify-content-center align-items-center position-relative ml-4">
                    <i class="fa fa-facebook text-white" ></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// import logo from './logo.vue';
export default {
    // components: {
    //     logo
    // }
}
</script>

<style scoped>
@font-face {font-family: "LOTR";
  src: url('../assets/lotr.ttf') format('truetype');
}

.social-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
     background-color: rgba(255,255,255,0.3);
    /* border: 1px solid gray; */
}

/* .social-icon::before {
    content: '';
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: inherit; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.5);
} */


.main-container {
    height: 100vh;
}

.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url('https://i.redd.it/oegrozkfg7361.png'); */
    background-image: url('https://i.redd.it/oegrozkfg7361.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
}

.main-title {
    font-family: "LOTR";

}

.nav-title {
    font-size: 1.5vw;
}

.largest-title {
    font-size: 6vw;
}

.subtitle-text {
    font-size: 1.7vw;
}

@media only screen and (max-width: 875px) {
    .nav-title {
        font-size: 1.2rem;
    }

    .navbar-brand img {
        max-width: 10rem;
    }

    .largest-title {
        font-size: 6.5vw;
    }

    .subtitle-text {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 575.98px) {
    .nav-title {
        font-size: 0.9rem!important;
    }

    .navbar-brand img {
        max-width: 9rem;
    }

    .largest-title {
        font-size: 9vw;
    }

    .subgroups {
        display: none!important;
    }

    .subtitle-text {
        font-size: 0.9rem;
    }
}
</style>
